/* Reset generale */
        body {
            font-family: 'Arial', sans-serif; /* Font famoso per la sua leggibilità */
            background-color: #f8f9fa; /* Cambio colore di sfondo per un contrasto migliore */
            padding-top: 100px; /* Assicura che la navbar non copra il contenuto */
            font-size: 16px; /* Dimensione del testo base */
            line-height: 1.6; /* Altezza della linea per migliorare la leggibilità */
            margin: 0; /* Rimuove il margine predefinito per evitare spazi bianchi non voluti */
        }

/* Stili per i link */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Stili per le etichette */
label {
    width: 8em;
    display: inline-block;
}

/* Stili per l'intestazione (header) */
header {
    background-color: #f7f7f7; /* Sfondo grigio chiaro per l'header */
    padding: 10px 0; /* Spaziatura interna */
}

header h1 {
    margin: 0;
    font-size: 2em; /* Dimensione del titolo grande */
}

header a {
    text-decoration: none;
    color: #333; /* Testo scuro per i link nell'header */
    font-size: 1.2em; /* Dimensione del testo leggermente più grande */
    margin-right: 20px;
}

header a:hover {
    text-decoration: underline;
}

/* Stili per il contenuto principale */
main {
    padding: 20px;
    text-align: left; /* Allinea il testo a sinistra nel contenuto principale */
}


/* Stili per i paragrafi di testo */
p {
    line-height: 1.6; /* Altezza della linea per una migliore leggibilità */
}
